/* TODO ESTO ES UNA REGLA EN CSS
ESTO ES EL SELECTOR header{Esto es la declaración
Esto es una propiedad    background: Esto es un valor red;
}*/

/*
header{
    background: red /*!important;*//*Utilizado para que sea el
    estilo mas fuerte o pesado, no se recomienda ya que rompe
    la cascada
}
*/
/*Se aprendio sobre modelo de caja*/
body{

    font-family: 'Source Sans Pro', sans-serif;
    /*Busca Source Sans Pro, si no esta usa sans-serif y asi..*/
    margin: 0px;
}

h1,h2,h3,h4,h5,h6{

    font-family: 'Fjalla One', sans-serif;
    /*Una fuente con mas de una palabra va entre '' */
    font-weight: normal;/*Grosor de la fuente*/
}

h1{

    font-size: 40px;
    line-height: 1.5em;/*Alto de linea, separación entre lineas*/
    letter-spacing: -0.2px;/*Separación entre letras*/
    /*text-transform: uppercase;Todas las letras en mayusculas*/
    /*text-decoration: underline;Subrayar el texto*/
    color: white;
    /*margin: 20px 20px 20px 20px;/*top right bottom left*/
}

h1 strong{

    color: #026fff;
}

ol,ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

figure{

    margin: 0;
}

.hero{

    height: 300px;/*Tamaño del elemento*/
    background-color: #1b2127;
    background-image: url('../Imagenes/portada.jpg');
    background-size: 500px 300px; /*Width Height*/
    background-repeat: no-repeat;
    /*background-position: /*Eje x Eje y*/
    background-position-x: right; 
    /*Propiedad mas especifica para solo eje x, con right estara desde la derecha*/
}
.portfolio{

    background: #fafafa;
}

.project{

    /*border-width: 15px;
    border-color: red;
    border-style: solid;*/
    border: 1px solid gray;
    border-radius: 10px;
    /*border-top-left-radius: 30px;*/
    margin:10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    
}

.project-details{

    width: 500px;
    /*margin: 0px auto;/*0px top y 
    bottom y auto lo organiza segun espacio de 
    right y left, auto es muy buena practica*/
}

.project-imageContainer{

    width: 500px;
}

.header{

    background-color: #1b2127;
    color:white;
    display: flex;
    height: 90px;
    justify-content: space-between;
}

.header ol{

    height: inherit;/*El atributo inherit significa 
    heredad el atributo*/
    display: flex;
}

.header ol li{

    height: inherit; 
}

.header a{

    display: flex;
    align-items: center;
    height: inherit;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.menu{

    height: inherit;
}

.flexbox{
display: flex;
/*flex-direction: column, esta propiedad direcciona el modo
de visualizacion o ordenamiento ya sea en column o row, por
defecto con flex es row, si estaba en row y lo cambie a columna
la forma de alinear elementos sera invetida, es decir
utilizo justifi-content para alinear verticalmente y de igual
manera para alig-items con alineación en horizontal*/
height: 200px;/*Lo creo para obtener un espacio vertical y probar el
alineamiento de forma vertical*/
flex-wrap: wrap;/*Propiedad que permite al acabarse el espacio
en ancho visual de la pagina el siguiente elemento caiga
o continue fuera el espacio visual, wrap para que 
caiga y por defecto nowrap*/

/*justify-content: , manera de alinear horizontalmente los elementos
ya sea center, right , left, space-between (espacio entre elemento 
sin espaciar los elementos extremos),
space-evenly (Espaciado entre elementos igual) y space-around (Espacio
igual de derecha e izquierda por cada elemento) */

align-items: flex-start;/*Ordena los elementos en vertical, por defecto
los ordena todos hacia arriba con flex-star, con flex-end los ordena
en la parte baja del alto de la caja contenedora*/

}

.box{

    width: 50px;
    height: 50px;
    border: 1px solid red;

    flex-shrink: 0;/*Propiedad para hijos con padres display flex, capacidad
    de encogimiento del elemento, propiedad de 0-1*/
}
