/* TODO ESTO ES UNA REGLA EN CSS
ESTO ES EL SELECTOR header{Esto es la declaración
Esto es una propiedad    background: Esto es un valor red;
}*/

/*
header{
    background: red /*!important;*//*Utilizado para que sea el
    estilo mas fuerte o pesado, no se recomienda ya que rompe
    la cascada
}
*/
body{

    font-family: 'Source Sans Pro', sans-serif;
    /*Busca Source Sans Pro, si no esta usa sans-serif y asi..*/

}

h1,h2,h3,h4,h5,h6{

    font-family: 'Fjalla One', sans-serif;
    /*Una fuente con mas de una palabra va entre '' */
    font-weight: normal;/*Grosor de la fuente*/
}

h1{

    font-size: 40px;
    line-height: 1.5em;/*Alto de linea, separación entre lineas*/
    letter-spacing: -0.2px;/*Separación entre letras*/
    /*text-transform: uppercase;Todas las letras en mayusculas*/
    /*text-decoration: underline;Subrayar el texto*/
}

.hero{

    height: 300px;
}

.project-details{

    width: 500px;
}

.project-imageContainer{

    width: 500px;
}
